html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1em;
    background: #F3F3F3;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.frame {
    width: 100%;
    float: left;
}

.main {
    min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}

.side {
    float: left;
    width: 40%;
}

.content {
    float: right;
    width: 60%;
}

.block {
    padding: 20px;
    box-sizing: border-box;
    margin: 5px;
    background-color: #FFF;
    border-radius: 4px;
    transition: background-color 1s;
    overflow: auto;
}

/*.block:hover {
    background-color: #FFF;
}

.movie-list--section {
    background-color: #EBF4F8;
}*/

:focus {
    outline: 0;
}

.hidden {
    display: none;
}


.label {
    display: block;
    margin-top: 5px;
    cursor: pointer;
}

.label .left {
    margin-right: 5px;
    width: 47px;
    display: block;
    float: left;
    line-height: 17px;
}

.label .right {
    margin-left: 5px;
}

.title {
    font-size: 2em;
    margin: -5px;
    line-height: 1.5;
}

h2 {
    font-weight: 300;
    font-size: 1.35em;
    margin: 15px 0;
}

.sub-block {
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.btn {
    border: 1px solid #A2A2A2;
    padding: 5px 25px;
    margin: 10px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: silver;
}

.btn-calendar {
    font-weight: 500;
    font-size: 1.2em;
    background-color: #3FC7FA;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-calendar:hover {
    background-color: #14A3FF;
}

.field {
    width: 100px;
    font-size: 0.85em;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #A2A2A2;
    background-color: white;
}

.movie-list {
    border-collapse: collapse;
}

.movie-list th {
    text-align: center;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 5px;
    font-size: 0.95em;
}

.movie-list td {
    text-align: center;
}
.movie-list td:first-child {
    text-align: left;
}

.rts-line {
    white-space: nowrap;
    padding-bottom: 10px;
    width: 140px;
    float: left;
}

.rts-line .white-change{
    background-color: #ffffff;
}

.rts-line .red-change{
    background-color: #e6c3c7;
}

.rts-line .green-change{
    background-color: #c1ffc9;
}

h3 .line-picker{
    color: #000066;
}

.quarter {
    width: 50%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.chart-type-list {
    list-style: none;
    padding: 0;
}

.tweets-list {
    list-style: none;
    padding: 0;
}

.tweet-item {
    padding: 5px 5px;
    border-radius: 4px;
    margin: 0 0 5px;
    overflow: auto;
}

/*.tweet-text {
    display: block;
}*/

.tweet-date {
    float: left;
    margin-right: 10px;
}

.tweet-user {
    font-size: 0.9em;
    font-weight: 500;
    display: block;
    float: right;
    margin-top: 10px;
}

.tweet-item.negative {
    background-color: rgba(255, 7, 23, 0.3);
}

.tweet-item.positive {
    background-color: rgba(20, 163, 255, 0.3);
}
